.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
padding: 5px 10px;
color: white;
background-color: var(--main-bg-color);
border: 2px solid white;
border-radius: 4px;
cursor: pointer;
}
.my-2{
    margin: 26px 0px;
}
/* .text-center{
    text-align: center;
} */
.my-1{
    margin: 5px 0px;
}